<h2><%= @task.name %></h2>

<%= link_to "Edit", edit_task_path(@task) %>

<p><%= @task.details %></p>

 <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" <%= @task.completed && "checked" %> id="flexCheckDefault">
<% if @task.completed %>
<%= "This Task completed" %>
<% else %>
<%= "This task not yet complete" %>
<% end %>
</div>


<br>

<%= link_to "Back to list", tasks_path %>
